<app-log-in (isAuthorized)="onChange($event)"></app-log-in>
<div class="form-row justify-content-between w-100">
  <header class="header m-3 pl-5">
    <h3>All products</h3>
  </header>
  <form class="form-inline m-3 pr-5">
    <div class="btn-group pr-5" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-danger" (click)="setDir(0)">down</button>
      <button type="button" class="btn btn-danger" (click)="setDir(1)">up</button>
    </div>
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="product" id="product"
           [(ngModel)]="product">
    <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
  </form>
</div>

<div id="cards" class="form-row justify-content-center w-100 m-0 align-content-between">
 <div>
  <div class="dropdown m-4">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Category
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" (click)="loadProductsPage()" >All</button>
      <button class="dropdown-item" *ngFor="let categ of categories" type="button" (click)="setSearchCategory(categ)">{{categ.categoryName}}</button>
    </div>
  </div>
  <div class="button" *ngIf="userDTO.role.roleId==3">
    <button type="button" class="btn btn-light card-body" data-toggle="modal" data-target="#create" (click)="initForm()">
      <img width="50px" src="http://cdn.onlinewebfonts.com/svg/img_115436.png">
    </button>
  </div>
 </div>
  <div class="col-md-9">
    <div class="row">
      <div class="form-row justify-content-center w-100">
        <div class="card" *ngFor="let prod of productList">
          <div class="form-row justify-content-center">
            <div class="card-body">
              <h5 class="card-title">{{prod.productName}}</h5>
              <p class="card-text">{{prod.productDescription}}</p>
              <div class="form-row justify-content-between">
                <a class="btn btn-primary" data-toggle="modal" data-target="#subscribe" *ngIf="userDTO.role.roleId==2 && !prod.usersSub" (click)="setProd(prod)">Subscribe</a>
                <button class="btn btn-danger" *ngIf="prod.user.userId == userDTO.userId || userDTO.role.roleId == 1" (click)="deleteProd(prod.productId)">Delete</button>
                <button class="btn btn-danger" *ngIf="prod.usersSub" (click)="unsubscribe(prod.productId)" >Unsubscribe</button>
                <button class="btn btn-warning" routerLink="/product/{{prod.productId}}">More</button>
                <p class="text m-0 pt-2">{{prod.productCost}}$</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center w-100 m-0 position-relative" *ngIf="totalpages>1">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-danger" (click)="decPage()">Prev</button>
      <button type="button" class="btn btn-danger" (click)="loadProductsPage()">{{page + 1}}</button>
      <button type="button" class="btn btn-danger" (click)="lastPage()">{{totalpages}}</button>
      <button type="button" class="btn btn-danger" (click)="incPage()">Next</button>
    </div>
  </div>
</div>

<div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning border-bottom-0">
        <h4 class="modal-title" id="MyModalLabel">Subscribe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let wallet of walletList">
            <span *ngIf="wallet.walletBalance > 0" class="bg-warning">Name: {{wallet.walletName}}</span>
            <span *ngIf="wallet.walletBalance > 0" class="bg-success">Sum: {{wallet.walletBalance.toFixed(2)}}$</span>
            <label *ngIf="wallet.walletBalance > 0" class="btn btn-primary float-right">
              <input type="radio" name="options" id="option2" autocomplete="off" (click)="setWallet(wallet)"> Choose
            </label>
          </li>
        </ul>
      </div>
      <div class="modal-footer form-row border-top-0 justify-content-end">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger ml-2" data-dismiss="modal" (click)="subscribe()">Subscribe</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning border-bottom-0">
        <h4 class="modal-title" id="createLabel">Create</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="form">
          <div class="form-group" [ngClass]="displayFieldCss('name')">
            <div class="col-sm-12">
              <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name">
              <app-field-error-display
                [displayError]="isFieldValid('name')"
                errorMsg="Incorrect Name">
              </app-field-error-display>
            </div>
          </div>

          <div class="form-group" [ngClass]="displayFieldCss('descr')">
            <div class="col-sm-12">
              <input type="text" id="descr" class="form-control" formControlName="descr" placeholder="Description">
              <app-field-error-display
                [displayError]="isFieldValid('descr')"
                errorMsg="Incorrect Description">
              </app-field-error-display>
            </div>
          </div>

          <div class="form-group" [ngClass]="displayFieldCss('cost')">
            <div class="col-sm-12">
              <input type="text" id="cost" class="form-control" formControlName="cost" placeholder="Cost">
              <app-field-error-display
                [displayError]="isFieldValid('cost')"
                errorMsg="Incorrect Cost">
              </app-field-error-display>
            </div>
          </div>
        </form>
        <!--<div class="input-group mb-3">
          <input type="text" class="form-control" id="inputName" [(ngModel)]="prod.productName" placeholder="Name">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="inputDescr" [(ngModel)]="prod.productDescription"
                 placeholder="Description">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="inputBalance" [(ngModel)]="prod.productCost" placeholder="Cost">
        </div>-->
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let cat of categories">
            <span class="bg-warning">Name: {{cat.categoryName}}</span>
            <label class="btn btn-primary float-right">
              <input type="radio" name="options" id="option" autocomplete="off" (click)="setCategory(cat)"> Choose
            </label>
          </li>
        </ul>
        <div *ngIf="isAlert" class="alert alert-danger">
          Chose Category!
        </div>
      </div>
      <div class="modal-footer form-row border-top-0 justify-content-end">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger ml-2" (click)="createProduct()">Create</button>
      </div>
    </div>
  </div>
</div>

