<header class="header m-3 pl-5">
  <h3>Your wallets</h3>
</header>
<div id="cards" class="row justify-content-center w-100 m-0 align-content-between">
  <div class="button">
    <button type="button" class="btn btn-light card-body" data-toggle="modal" data-target="#create">
      <img width="50px" src="http://cdn.onlinewebfonts.com/svg/img_115436.png">
    </button>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="form-row justify-content-center w-100">
        <div class="card" *ngFor="let wal of walletList">
          <div class="form-row justify-content-center">
            <div class="card-body">
              <div class="form-row justify-content-between">
                <h5 class="card-title">{{wal.walletName}}</h5>
                <p class="text-dark">{{wal.walletBalance.toFixed(2)}}$ </p>
              </div>
              <p class="card-text">{{wal.walletDescr}}</p>
              <div class="form-row justify-content-center">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete"
                          (click)="setWallet(wal)">
                    <img width="20px" src="http://cdn.onlinewebfonts.com/svg/img_487212.png">
                  </button>
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#edit"
                          (click)="setWallet(wal)">
                    <img width="20px"
                         src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/new-24-512.png">
                  </button>
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#transfer" *ngIf="walletList.length>1"
                          (click)="setWallet(wal)">
                    <img width="20px" src="http://cdn.onlinewebfonts.com/svg/img_269283.png">
                  </button>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#topup"
                          (click)="setWallet(wal)">
                    <img width="20px" src="https://icons8.com/iconizer/files/DefaultIcon_ver_0.11/orig/arrow-up.png">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center w-100 m-0 position-relative" *ngIf="totalpages>1">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-danger">Prev</button>
      <button type="button" class="btn btn-danger">{{page + 1}}</button>
      <button type="button" class="btn btn-danger">{{totalpages}}</button>
      <button type="button" class="btn btn-danger">Next</button>
    </div>
  </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning border-bottom-0">
        <h4 class="modal-title" id="deleteLabel">Delete</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body justify-content-center text-black-50">
        <h3>Delete {{wallet.walletName}}</h3>
      </div>
      <div class="modal-footer form-row border-top-0 justify-content-end">
        <button type="button" class="btn btn-dark" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-danger ml-2" data-dismiss="modal" (click)="deleteWallet()">Yes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning border-bottom-0">
        <h4 class="modal-title" id="editLabel">Edit Wallet</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="form-horizontal" [formGroup]="editForm">

          <div class="form-group" [ngClass]="displayFieldCss(editForm , 'editName')">
            <div class="col-sm-12">
              <input type="text" id="editName" class="form-control" formControlName="editName" placeholder="New Name">
              <app-field-error-display
                [displayError]="isFieldValid(editForm, 'editName')"
                errorMsg="Incorrect Name">
              </app-field-error-display>
            </div>
          </div>

          <div class="form-group" [ngClass]="displayFieldCss(editForm, 'editDescr')">
            <div class="col-sm-12">
              <input type="text" id="editDescr" class="form-control" formControlName="editDescr" placeholder="Description">
              <app-field-error-display
                [displayError]="isFieldValid(editForm, 'editDescr')"
                errorMsg="Incorrect Description">
              </app-field-error-display>
            </div>
          </div>
        </form>
       <!-- <div class="input-group mb-3">
          <input type="text" class="form-control" id="inputName" [(ngModel)]="wallet.walletName" placeholder="Name">
        </div>
        <div class="input-group">
          <input type="text" class="form-control" id="inputDescr" [(ngModel)]="wallet.walletDescr"
                 placeholder="Description">
        </div>-->
      </div>
      <div class="modal-footer form-row border-top-0 justify-content-end">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger ml-2" (click)="editWallet()">Edit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="transfer" tabindex="-1" role="dialog" aria-labelledby="transferLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning border-bottom-0">
        <h4 class="modal-title" id="transferLabel">Transfer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="transferForm">
        <div class="form-group" [ngClass]="displayFieldCss(transferForm, 'transfer')">
          <div class="col-sm-12">
            <input type="text" id="transferField" class="form-control" formControlName="transfer" placeholder="Balance">
            <app-field-error-display
              [displayError]="isFieldValid(transferForm, 'transfer')"
              errorMsg="Incorrect Balance">
            </app-field-error-display>
          </div>
        </div>
        </form>
        <!--<input type="text" class="form-control" id="inputSum" [(ngModel)]="sum" placeholder="Sum">-->
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let wal of walletList">
            <span *ngIf="wal.walletBalance > 0" class="bg-warning">Name: {{wal.walletName}}</span>
            <span *ngIf="wal.walletBalance > 0" class="bg-success">Sum: {{wal.walletBalance.toFixed(2)}}$</span>
            <label *ngIf="wal.walletBalance > 0" class="btn btn-primary float-right">
              <input type="radio" name="options" id="option2" [disabled]="wal.walletId==wallet.walletId" autocomplete="off" (click)="setTransferWallet(wal)">
              Choose
            </label>
          </li>
        </ul>
      </div>
      <div class="modal-footer form-row border-top-0 justify-content-end">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger ml-2" (click)="transfer()">Transfer</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="topup" tabindex="-1" role="dialog" aria-labelledby="topupLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning border-bottom-0">
        <h4 class="modal-title" id="topupLabel">Top Up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="topUpForm">
        <div class="form-group" [ngClass]="displayFieldCss(topUpForm, 'topUp')">
          <div class="col-sm-12">
            <input type="text" id="topUpField" class="form-control" formControlName="topUp" placeholder="Balance">
            <app-field-error-display
              [displayError]="isFieldValid(topUpForm, 'topUp')"
              errorMsg="Incorrect Balance">
            </app-field-error-display>
          </div>
        </div>
        </form>
        <!--<input type="text" class="form-control" id="inputTopUp" [(ngModel)]="sum" placeholder="Sum">-->
      </div>
      <div class="modal-footer form-row border-top-0 justify-content-end">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger ml-2" (click)="topUpBalance()">Top up</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning border-bottom-0">
        <h4 class="modal-title" id="createLabel">Create</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="form">
          <div class="form-group" [ngClass]="displayFieldCss(form, 'name')">
            <div class="col-sm-12">
              <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name">
              <app-field-error-display
                [displayError]="isFieldValid(form, 'name')"
                errorMsg="Incorrect Name">
              </app-field-error-display>
            </div>
          </div>

          <div class="form-group" [ngClass]="displayFieldCss(form, 'descr')">
            <div class="col-sm-12">
              <input type="text" id="descr" class="form-control" formControlName="descr" placeholder="Description">
              <app-field-error-display
                [displayError]="isFieldValid(form, 'descr')"
                errorMsg="Incorrect Description">
              </app-field-error-display>
            </div>
          </div>

          <div class="form-group" [ngClass]="displayFieldCss(form, 'balance')">
            <div class="col-sm-12">
              <input type="text" id="balance" class="form-control" formControlName="balance" placeholder="Balance">
              <app-field-error-display
                [displayError]="isFieldValid(form, 'balance')"
                errorMsg="Incorrect Balance">
              </app-field-error-display>
            </div>
          </div>
        </form>
      </div>
        <!--<div class="input-group mb-3">
          <input type="text" class="form-control" id="inputNewName" [(ngModel)]="wallet.walletName" placeholder="Name">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="inputNewDescr" [(ngModel)]="wallet.walletDescr"
                 placeholder="Description">
        </div>
        <div class="input-group">
          <input type="text" class="form-control" id="inputNewBalance" [(ngModel)]="wallet.walletBalance"
                 placeholder="Balance">
        </div>
      </div>-->
      <div class="modal-footer form-row border-top-0 justify-content-end">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger ml-2" (click)="createWallet()">Create</button>
      </div>
    </div>
  </div>
</div>
