<div class="card">
  <div class="card-body">
    <div class="form-row justify-content-between">
    <h5 class="card-title">Name of card</h5>
    <p class="text-dark">0$</p>
    </div>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="form-row justify-content-center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-danger">
        <img width="20px" src="http://cdn.onlinewebfonts.com/svg/img_487212.png">
      </button>
      <button type="button" class="btn btn-warning">
        <img width="20px" src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/new-24-512.png">
      </button>
      <button type="button" class="btn btn-info">
        <img width="20px" src="http://cdn.onlinewebfonts.com/svg/img_269283.png">
      </button>
      <button type="button" class="btn btn-success">
        <img width="20px" src="https://icons8.com/iconizer/files/DefaultIcon_ver_0.11/orig/arrow-up.png">
      </button>
    </div>
  </div>
  </div>
</div>
