<div class="form-row justify-content-center w-100">
<header class="header m-3 pl-5">
  <h2>{{product.productName}}</h2>
</header>
</div>
<div id="descr" class="form-row justify-content-center w-100 ">
  <div class="form-row text col-md-6 bg-light" >
    <h2><p>Description:</p></h2>
    <h3 class="m-4">{{product.productDescription}}</h3>
  </div>
</div>
<div class="form-row justify-content-center w-100">
<div class="form-row text col-md-4 justify-content-between">
  <h5 class="bg-warning">Category: {{product.category.categoryName}}</h5>
  <h5 class="bg-danger">Cost: {{product.productCost}}$</h5>
</div>
</div>
