<div class="card">
  <div class="card-body">
    <h5 class="card-title">Name of card</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="form-row justify-content-center m-3">
    <button type="button" class="btn btn-warning">
      <p class="text-dark m-0">
        28-03-2019/28-04-2019
      </p>
    </button>
    </div>
    <div class="form-row justify-content-between">
      <a href="#" class="btn btn-primary">More</a>
      <p class="text m-0 pt-2">4.9$</p>
    </div>
  </div>
</div>
